<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Autor</title>
    <link rel="stylesheet" href="/static/css/pagina.css">
</head>
<body>

    <div class="page-container">

        <h1>Mensagens de {{ author }}</h1>

        <div class="posts-card">
        <h2>Posts:</h2>

        % if user_messages and len(user_messages) > 0:
            <ul class="message-list">
            % for msg in user_messages:
                <li class="message-item">
                    <p class="message-text">{{msg.texto}}</p>
                    <span class="message-date">{{msg.timestamp}}</span>
                </li>
            % end
            </ul>
        % else:
            <p class="no-messages">Este usuário ainda não postou nenhuma mensagem.</p>
        % end
</div>

</body>
</html>
